.Header {
  background-color: rgb(132, 76, 158);
  height: 70px;
  width: 100%;
  color: white;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.col-2 {
  width: 13.3333333333%;
}

.col-8 {
  width: 65.3333333333%;
}

.button-searchFav {
  margin-top: 6.5%;
}